body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}
header, main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
}
header, footer {
    background-color: navy;
    color: #fff;
    text-align: center;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.0rem;
    border-bottom: 2px solid #999;
    margin-bottom: 1.5rem;
}
footer a {
    color: rgb(125, 216, 228);
}
p {
    margin: 5px;
}
header img {
    width: 150px;
    height: auto;
}