@media only screen and (min-width: 30.5em) {
    header {
        font-size: 1.35em;
      }
    
    header img {
        width: 75px;
        height: auto;
      }
    
    .headings h1 {
        margin: 0 0 0 30px;
      }
    
    .motto {
        letter-spacing: 1.5pt;
        margin-left: 37.5px;
        font-size: .9rem;
      }

    .navigation {
      display: block;
      font-size: 1.25em;
    }
    main {
      font-size: 1.2em;
      max-width: 800px;
    }
    /*.weatherSummary {
      position: absolute;
      left: 35px;
      top: 35px;
    }

    .article img {
      float: right;
      margin: 0px 15px 5px 15px;
    }*/

    footer {
      font-size: 1em;
    }
  }
  