@media only screen and (min-width: 668px) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  
    h1 {
      font-size: 3em;
    }
  
    h2 {
      font-size: 2em;
    }
  
    p {
      font-size: 1em;
    }
  }
  