@media only screen and (min-width: 490px) {
    header {
        font-size: 1.35em;
      }
    
    header img {
        width: 75px;
        height: auto;
      }
    
    .headings h1 {
        margin: 0 0 0 30px;
      }
    
    .motto {
        letter-spacing: 1.5pt;
        margin-left: 37.5px;
        font-size: .9rem;
      }

    .navigation {
      display: block;
      font-size: 1.25em;
    }

    main {
      font-size: 1.2em;
      max-width: 800px;
    }

    .weatherSummary {
      position: absolute;
      left: 35px;
      top: 35px;
    }

    #preston img,
    #home img,
    #ssprings img,
    #fhaven img {
      float: right;
      margin: 0px 20px 15px 15px;
    }
  
    .upcomingEvents {
      max-width: 460px;
    }
  
    .upcomingEvents div {
      font-size: 1em;
    }

    /* Town Data */
  
    .townData div{
      display: flex;        
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .townData div:nth-child(odd) {
      flex-direction: row-reverse;
    }
    .townData div div:first-of-type {
      display: flex;
      flex-direction: column;
      width: auto;
    }

    .townData div img {
      margin: 5px;
      width: 50%;
    }

    div.townData div h2,
    div.townData div h3,
    div.townData div p {
      text-align: center;
      position: relative;
    }
  
    footer {
      font-size: 1em;
    }
  }
  