@media only screen and (min-width: 60em) {
	nav a {
		font-size: 1.1rem;
	}
	main {
		grid-template-columns: 1fr 1fr 1fr;
		flex-direction: row;
	}
	main article { 
		width: 100%;
	}
	article:nth-child(3) {
		grid-column: span 1;
	}
}